body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #5f788a;
    border-color: #5f788a;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active  {
    color: #fff;
    background-color: #506575;
    border-color: #506575;
}

.avatar-img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.friend-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.friend-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.friend-metadata a:hover {
  color: #333;
  text-decoration: none;
}