{% extends 'base.html' %}

{% block content %}
    <h1>Sign In</h1>

    <p>Please sign in with your existing VK accounts.</p>

    <div class="row col-md-4 col-sm-8 col-sm-offset-4 spacet-10">
        <a class="btn btn-block btn-social btn-vk" href="{{ app.router['login_oauth_vk'].url_for() }}">
            <span class="fa fa-vk"></span> Sign in with VK
        </a>
    </div>
{% endblock content %}